/* Technologies.css */

.technologies-section {
  padding: 10px 0;
  background-color: #f6f6f6;
}

.technologies-section .logos img {
  width: 66px;
  height: 66px;
}

.technologies-section h3 {
  font-size: 1.8rem;
}

.logos .field {
  margin: 0 10px;
}

.technologies-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px; /* Adjust the vertical gap between the fields */
  margin: 0 10rem;
}

.languages,
.frontend,
.backend,
.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 5px; /* Add margin to each field */
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px; /* Adjust the vertical gap between the logos */
}

.field {
  width: 100%;
}

.field img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.logos img {
  width: 50px; 
  height: 50px; 
}

/* Media query for mobile devices */
@media screen and (max-width: 1150px) {
  .technologies-grid {
    grid-template-columns: 1fr; 
    margin: 0 2rem; 
  }

  .logos .field {
    margin: 0; 
  }

  .field {
    margin-bottom: 2rem; 
  }

  .logos img {
    width: 40px; 
    height: 40px;
  }
}
