.bg-color {
    padding: 10px 0;
    background-color: #f6f6f6;
  }
.footer {
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-text {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .footer-social {
    display: flex;
    justify-content: center;
  }
  
  .footer-social-link {
    color: #fff;
    font-size: 16px;
    margin: 0 10px;
  }
  
  .footer-social-link:hover {
    color: #ccc;
  }
  